.menu{
    padding: 0.35rem 1.5rem;
}
.menu__logo{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1rem auto;
    gap: 1rem;
    cursor:pointer;
}
.menu__logo___img{
    width: 2rem;
    height: 2rem;
    filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(144deg) brightness(105%) contrast(108%)
    
}
.menu__logo___escrito{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}
.menu__lista{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.menu__lista.primaria{
    padding-top: 2rem;
    row-gap: 0.7rem;
}
.menu__lista.secundaria{
    padding-top: 5rem;
    row-gap: 0.7rem;
}
.menu__lista img{
    filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(144deg) brightness(105%) contrast(108%);
    height: 1.2rem;
    

}
.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 1.5rem;  
    cursor:pointer;  
}

.menu__lista___escrito{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    align-self: bottom;
    letter-spacing: 0.063rem;
        
}