.cabecalho {
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "s s s p p x"
    "s s s p p x"
    "f f 1 b b x"
    "f f 1 b b x"
    "f f 1 b b x"
    ;
    background-color: white;
    
}


.cabecalho__search{
    grid-area: s;
    display: flex;
    justify-content: left;
    align-items: bottom;
    padding: 1.5rem 0;
    padding-left: 4rem;
    
}
.cabecalho__search___icon{
    height: 1.2rem;
    padding-right: 1rem;
    padding-top: 2px;
    opacity: 0.7;
    align-self: bottom;
    cursor:pointer;
}
.cabecalho__search___field{
    border-radius: 15px;
    border: none;
    width: 90%;
    height: 1.3rem;
    background-color: #e2e8f0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.cabecalho__profile{
    grid-area: p;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 4rem;
    gap: 2rem;
}
.cabecalho__profile___icon{
    height: 1.6rem;
    height: 1.6rem;
    padding-right: 1rem;
    padding-top: 03px;
    opacity: 0.7;
    align-self: center;
    cursor:pointer;
}
.cabecalho__profile___img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-size: cover;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cabecalho__profile___nome{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    align-self: bottom;
    cursor:pointer;
}


.cabecalho__welcome{
    grid-area: f;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5rem;
    padding-bottom: 1rem;
    gap: 1.5rem;
}
.cabecalho__welcome___escrito{
    display: flex;
    flex-direction: column;
    align-items: middle;
    justify-items: center;
    
}
.cabecalho__welcome___img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    
}
.cabecalho__welcome___escrito-p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
    align-self: bottom;
    line-height: 1.5;
}
.cabecalho__welcome___escrito-p span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    align-self: bottom;
}
.meuid {
    opacity: 0.9;
}


.cabecalho__buttons{
    grid-area: b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.cabecalho__buttons button{
    background-color: #1992d4;
    display:inline-block;
	cursor:pointer;
	color:#ffffff;
    padding:0.625rem 1.5rem;
	text-decoration:none;
    border-radius: 1.75rem  ;
    border: none;
    font-weight: 400;
}


